.todo-form {
    margin-bottom: 20px;
  }
  
  .todo-form .input {
    padding: 10px;
    width: 200px;
    border: 2px solid #f8b9b9;
    border-radius: 15px;
  }
  
  .todo-form button {
    padding: 10px;
    margin-left: 10px;
    border: none;
    background: #F8AFA6;
    color: rgb(21, 20, 20);
    border-radius: 5px;
    cursor: pointer;
  }
  
  .todo-form button:hover {
    background: #F79489;
  }
  