.todo {
    background: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px #f8b9b9;
  }
  
  .todo button {
    background: #B6E2D3;
    border: none;
    color: grey;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .todo button:hover {
    background: #2E765E;
  }
  